* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-first: #f3f5fc;
  --bg-secondary: #fff;
  --bg-secondary-active: #d4d4d4;
  --bg-third: #eaeaea;
  --bg-fourth: #0a3871;
  --bg-fourth-active: #478adc;

  --text-color-first: #0a3871;
  --text-color-secondary: rgba(0, 0, 0, 0.3);
  --text-color-third: rgba(0, 0, 0, 0.6);
  --text-color-fourth: #fff;

  --text-size-s: 1.2rem;
  --text-size-sm: 1.4rem;
  --text-size-m: 1.6rem;
  --text-size-l: 2.2rem;
  --text-size-x: 3rem;

  --font-family: "Poppins", monospace;

  --space-s: clamp(10px, 10px + 0.5vw, 15px);
  --space-m: 5vw;
  --space-l: 25px;
  --space-x: 30px;

  --rounded-xs: 8px;
  --rounded-s: 12px;
  --rounded-m: 22px;

  --shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.2);
  --shadow-s: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

html {
  font-size: clamp(62.5%, 62.5% + 0.1vw, 100%);
}

body {
  background-color: var(--bg-first);
  padding: 15px;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .logo {
    width: 75px;
    position: relative;
    left: -15px;
  }
}

.header > .btn-history {
  background-color: var(--bg-secondary);
  box-shadow: var(--shadow-s);
  border-radius: var(--rounded-s);
  padding: var(--space-s);
  cursor: pointer;

  .material-symbols-outlined {
    font-size: var(--text-size-x);
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }

  &:active {
    background-color: var(--bg-secondary-active);
  }
}

main {
  height: calc(100% - 80px);
  position: relative;
}

main > .history-section {
  background-color: var(--bg-secondary);
  box-shadow: var(--shadow);
  border-radius: var(--rounded-s);
  width: 100%;
  height: 100%;
  padding: var(--space-s);
  display: none;
  grid-template-rows: 92% 1fr;
  position: absolute;
  z-index: 1000;
}

.history-section > .chat-texts-history {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.history-section > .btn-clean-history {
  font-size: var(--text-size-m);
  font-weight: 600;
  color: var(--text-color-first);
  background-color: transparent;
  border: 2px solid var(--bg-fourth);
  border-radius: var(--rounded-s);
  outline: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-s);
  cursor: pointer;

  &:active {
    color: var(--text-color-fourth);
    background-color: var(--bg-fourth-active);
    border: 1px solid var(--bg-fourth-active);
  }
}

.form-chat {
  height: 85vh;
  display: grid;
  grid-template-rows: 90% 1fr;
  justify-items: center;
  align-items: center;
  gap: 15px;
}

.form-chat > .chat {
  background-color: var(--bg-secondary);
  border-radius: var(--rounded-s);
  box-shadow: var(--shadow);
  width: 100%;
  height: 100%;
  padding: var(--space-s);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat > .chat-texts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.chat-texts > .text,
.chat-texts-history > .text {
  background-color: transparent;
  padding: var(--space-s);
  position: relative;

  &:hover {
    background-color: var(--bg-first);
    border-radius: var(--rounded-s);
  }
}

.text > .btn-copy {
  background-color: var(--bg-secondary);
  border-radius: var(--rounded-xs);
  width: fit-content;
  padding: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;

  &:active {
    background-color: var(--bg-secondary-active);
  }
}

.btn-copy > .material-symbols-outlined {
  font-size: var(--text-size-m);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;

  &:active {
    font-variation-settings: "FILL" 1;
  }
}

.text > .text-title {
  color: var(--text-color-secondary);
  font-size: var(--text-size-s);
  font-family: var(--font-family);
  font-weight: 600;
}

.text > .text-content {
  color: var(--text-color-first);
  font-size: var(--text-size-m);
  font-family: var(--font-family);
  line-height: 20px;
}

.text-content.line::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.chat > .input-text {
  font-size: var(--text-size-sm);
  background-color: var(--bg-third);
  border-radius: var(--rounded-xs);
  border: none;
  width: 100%;
  /* max-height: ; */
  padding: 10px 10px;
  display: block;
  resize: none;
  /* outline: none; */
  text-wrap: pretty;
}

.form-chat > .buttons-area {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-m);
}

.buttons-area > .btn-encrypt {
  color: var(--text-color-fourth);
  font-size: var(--text-size-m);
  font-weight: 700;
  background-color: var(--bg-fourth);
  border-radius: var(--rounded-s);
  border: none;
  cursor: pointer;

  &:active {
    background-color: var(--bg-fourth-active);
  }
}

.buttons-area > .btn-decrypt {
  color: var(--text-color-first);
  font-size: var(--text-size-m);
  font-weight: 700;
  background-color: transparent;
  border-radius: var(--rounded-s);
  border: 2px solid var(--bg-fourth);
  cursor: pointer;

  &:active {
    color: var(--text-color-fourth);
    border: 1px solid var(--bg-fourth-active);
    background-color: var(--bg-fourth-active);
  }
}

@media (min-width: 720px) {
  .header > .btn-history {
    display: none;
    visibility: hidden;
  }

  main {
    height: calc(100% - 80px);
    position: relative;

    display: grid;
    grid-template-columns: minmax(30vw, 20%) 1fr;
    gap: 10px;
  }

  main > .history-section {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-rows: 92% 1fr;
    position: relative;
  }

  .form-chat > .buttons-area {
    padding: 0 var(--space-m);
  }
  
}
